.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.decision-column {
  height: 500px;
  overflow: scroll;
}

.win {
  background-color: rgba(146, 216, 40, 0.83);
}

.draw {
  background-color: rgba(255, 165, 0, 0.75);
}

.lost {
  background-color: rgba(216, 0, 0, 0.58);
}

.result-win {
  background-color: green;
  color: green;
}

.result-draw {
  background-color: yellow;
  color: yellow;
}

.result-lost {
  background-color: red;
  color: red;
}
